In [23]:
import quandl
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action='once')

In [24]:
mydata=quandl.get("NSE/PFC")#,start_date="2005-12-01",end_date="2005-12-05")#toDo:NSE/SBIN

In [25]:
print(len(mydata))
mydata.head()

2689

,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
Date,,,,,,,
2007-02-23,113.00,119.4,105.55,111.50,111.65,92113982.0,102264.02
2007-02-26,112.00,117.7,104.75,117.50,115.30,20160651.0,22311.69
2007-02-27,120.00,120.0,114.85,115.00,117.40,16747355.0,19740.24
2007-02-28,112.00,115.8,103.00,111.25,111.05,10378434.0,11687.84
2007-03-01,112.05,113.9,108.50,110.10,110.55,4394786.0,4888.18

# Get Data from Quandl

In [26]:
def get_data(symbol, start_date, end_date):
    data=quandl.get(symbol, start_date = start_date, end_date = end_date)
    return data

# Feature Generation

In [27]:
def generate_features(df):
    """
    Input Dataframe Columns : Open, Close, High, Low, Volume, Adjusted Close
    Output Dataframe Columns : Same columns as Input and new features
    """
    df_new=pd.DataFrame()
    df_new['open']=df['Open']
    #print(df['Open'].head())
    df_new['open_1']=df['Open'].shift(1)
    
    df_new['close_1']=df['Close'].shift(1)
    #print(df['Close'].head())
    df_new['high_1']=df['High'].shift(1)
    df_new['low_1']=df['Low'].shift(1)
    df_new['volume_1']=df['Total Trade Quantity'].shift(1)
    
    df_new['avg_price_5']=pd.rolling_mean(df['Close'],window=5).shift(1)
    df_new['avg_price_30']=pd.rolling_mean(df['Close'],window=21).shift(1)
    df_new['avg_price_365']=pd.rolling_mean(df['Close'],window=252).shift(1)
    
    df_new['ratio_avg_price_5_30']=df_new['avg_price_5']/df_new['avg_price_30']
    df_new['ratio_avg_price_5_365']=df_new['avg_price_5']/df_new['avg_price_365']
    df_new['ratio_avg_price_30_365']=df_new['avg_price_30']/df_new['avg_price_365']
    
    df_new['avg_volume_5']=pd.rolling_mean(df['Total Trade Quantity'],window=5).shift(1)
    df_new['avg_volume_30']=pd.rolling_mean(df['Total Trade Quantity'],window=21).shift(1)
    df_new['avg_volume_365']=pd.rolling_mean(df['Total Trade Quantity'],window=252).shift(1)
    
    df_new['ratio_avg_volume_5_30']=df_new['avg_volume_5']/df_new['avg_volume_30']
    df_new['ratio_avg_volume_5_365']=df_new['avg_volume_5']/df_new['avg_volume_365']
    df_new['ratio_avg_volume_30_365']=df_new['avg_volume_30']/df_new['avg_volume_365']
    
    df_new['std_price_5']=pd.rolling_std(df['Close'],window=5).shift(1)
    df_new['std_price_30']=pd.rolling_std(df['Close'],window=21).shift(1)
    df_new['std_price_365']=pd.rolling_std(df['Close'],window=252).shift(1)
    
    df_new['ratio_std_price_5_30']=df_new['std_price_5']/df_new['std_price_30']
    df_new['ratio_std_price_5_365']=df_new['std_price_5']/df_new['std_price_365']
    df_new['ratio_std_price_30_365']=df_new['std_price_30']/df_new['std_price_365']
    
    df_new['std_volume_5'] = pd.rolling_std(df['Total Trade Quantity'],window=5).shift(1)
    df_new['std_volume_30'] = pd.rolling_std(df['Total Trade Quantity'],window=21).shift(1)
    df_new['std_volume_365'] = pd.rolling_std(df['Total Trade Quantity'],window=252).shift(1)
    
    df_new['ratio_std_Volume_5_30'] = df_new['std_volume_5']/df_new['std_volume_30']
    df_new['ratio_std_Volume_5_365'] = df_new['std_volume_5']/df_new['std_volume_365']
    df_new['ratio_std_Volume_30_365'] = df_new['std_volume_30']/df_new['std_volume_365']
    
    df_new['return_1'] = ((df['Close']-df['Close'].shift(1))/df['Close'].shift(1)).shift(1)
    df_new['return_5'] = ((df['Close']-df['Close'].shift(5))/df['Close'].shift(5)).shift(1)
    df_new['return_30'] = ((df['Close']-df['Close'].shift(21))/df['Close'].shift(21)).shift(1)
    df_new['return_365'] = ((df['Close']-df['Close'].shift(252))/df['Close'].shift(252)).shift(1)
    
    df_new['moving_avg_5'] = pd.rolling_mean(df_new['return_1'], window=5)
    df_new['moving_avg_30'] = pd.rolling_mean(df_new['return_1'], window=21)
    df_new['moving_avg_365'] = pd.rolling_mean(df_new['return_1'], window=252)
    
    df_new['close'] = df['Close']
    df_new = df_new.dropna(axis=0)
    
    return df_new

In [28]:
result=generate_features(mydata)

/home/akash/Desktop/Projects/sppr/lib/python3.5/site-packages/ipykernel_launcher.py:17: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(center=False,window=5).mean()
/home/akash/Desktop/Projects/sppr/lib/python3.5/site-packages/ipykernel_launcher.py:18: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(center=False,window=21).mean()
/home/akash/Desktop/Projects/sppr/lib/python3.5/site-packages/ipykernel_launcher.py:19: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(center=False,window=252).mean()
/home/akash/Desktop/Projects/sppr/lib/python3.5/site-packages/ipykernel_launcher.py:33: FutureWarning: pd.rolling_std is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(center=False,window=5).std()
/home/akash/Desktop/Projects/sppr/lib/python3.5/site-packages/ipykernel_launcher.py:34: FutureWarning: pd.rolling_std is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(center=False,window=21).std()
/home/akash/Desktop/Projects/sppr/lib/python3.5/site-packages/ipykernel_launcher.py:35: FutureWarning: pd.rolling_std is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(center=False,window=252).std()

In [22]:
result.head()

,open,open_1,close_1,high_1,low_1,volume_1,avg_price_5,avg_price_30,avg_price_365,ratio_avg_price_5_30,...,ratio_std_Volume_5_365,ratio_std_Volume_30_365,return_1,return_5,return_30,return_365,moving_avg_5,moving_avg_30,moving_avg_365,close
Date,,,,,,,,,,,,,,,,,,,,,
2008-02-25,188.00,191.5,185.00,193.00,184.20,721729.0,190.62,186.216667,183.499802,1.023646,...,0.317346,0.270635,-0.041451,0.003254,-0.001350,0.656964,0.000972,0.001491,0.002744,191.35
2008-02-26,192.50,188.0,191.35,192.00,182.05,459217.0,191.32,186.078571,183.801587,1.028168,...,0.379356,0.306315,0.034324,0.018632,-0.014929,0.659584,0.004095,0.000812,0.002750,190.95
2008-02-27,193.50,192.5,190.95,194.00,188.00,422143.0,190.69,185.880952,184.093452,1.025872,...,0.149538,0.335509,-0.002090,-0.016229,-0.021271,0.626491,-0.002978,0.000504,0.002670,191.30
2008-02-28,191.00,193.5,191.30,197.75,187.60,829135.0,190.32,185.604762,184.411905,1.025405,...,0.112792,0.345099,0.001833,-0.009578,-0.029427,0.722647,-0.001632,0.000104,0.002892,180.75
2008-02-29,180.75,191.0,180.75,192.00,176.75,2720964.0,187.87,184.892857,184.690476,1.016102,...,0.437778,0.366976,-0.055149,-0.063472,-0.076392,0.635007,-0.012507,-0.002184,0.002691,187.45

In [29]:
def compute_prediction(X, weights):
    """
    calculate y_hat
    """
    predictions = np.dot(X, weights)
    return predictions

In [30]:
def update_weights(X_train, y_train, weights, learning_rate):
    """
    Update weights
    """
    predictions = compute_prediction(X_train, weights)
    weights_delta = np.dot(X_train.T, y_train - predictions)
    m = y_train.shape[0]
    weights += learning_rate/float(m)*weights_delta
    return weights

In [32]:
def compute_cost(X, y, weights):
    """
    COst
    """
    predictions = compute_prediction(X, weights)
    cost = np.mean((predictions-y)**2/2.0)
    return cost

In [33]:
def linear_regression(X_train, y_train, max_iter, learning_rate, fit_intercept=False):
    """
    Training Linear Regression
    """
    if fit_intercept:
        intercept = np.ones((X_train.shape[0],1))
        X_train = np.hstack((intercept, X_train))
    weights = np.zeros(X_train.shape[1])
    
    for iteration in range(max_iter):
        weights = update_weights(X_train, y_train, weights, learning_rate)
        if iteration%100 == 0:
            print(compute_cost(X_train, y_train, weights))
    return weights

In [34]:
def predict(X, weights):
    if X.shape[1] == weights.shape[0]-1:
        intercept = np.ones((X.shape[0],1))
        X = np.hstack((intercept,X))
    return compute_prediction(X, weights)

In [ ]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 0)

In [ ]:
)